<div class="row">
	<div class="col-sm-4">
		<video width="320" height="240" controls>
			<source src="{$baseUri}/files/{$commercial->video->directory}/{$commercial->filename}" type="video/mp4">
		</video>
	</div>
	<div class="col-sm-8">
		<dl class="dl-horizontal">
			<dt>Čas:</dt>
			<dd>{$commercial->cut|date:"H:i:s"}</dd>
			<dt>Frame:</dt>
			<dd>{$commercial->frame}</dd>
		</dl>
	</div>
</div>
