#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	extensions:
		events: Kdyby\Events\DI\EventsExtension
		annotations: Kdyby\Annotations\DI\AnnotationsExtension
		doctrine: Kdyby\Doctrine\DI\OrmExtension
		console: Kdyby\Console\DI\ConsoleExtension

	doctrine:
		defaultTableOptions:
			collate: utf8_czech_ci

	nette:
		application:
			errorPresenter: Error

		debugger:
			maxLength: 10000
			maxDepth: 5

		session:
			autoStart: smart
			expiration: 14 days
			savePath: %wwwDir%/../temp/sessions
			debugger: on

	services:
		routerFactory: RouterFactory
		router: @routerFactory::createRouter

		videoFinder:
			class: stekycz\vmw\models\VideoFinder(@doctrine.dao(stekycz\vmw\models\Video))

		ffmpeg:
			class: FFMpeg\FFMpeg
			factory: FFMpeg\FFMpeg::create

		cutDetector:
			class: stekycz\vmw\models\Detector\CutDetector

		commercialDetector:
			class: stekycz\vmw\models\Detector\CommercialDetector

		videoCutRangeConvertor:
			class: stekycz\vmw\models\Detector\VideoCutRangeConvertor(
				%appDir%/../files,
				%appDir%/../www/files,
				@doctrine.dao(stekycz\vmw\models\Video)
			)

		processVideoCommand:
			class: stekycz\vmw\commands\ProcessVideoCommand
			tags: [kdyby.console.command]

	factories:
		uploadForm:
			class: stekycz\vmw\forms\UploadForm(@doctrine.dao(stekycz\vmw\models\Video))
			implement: stekycz\vmw\forms\IUploadFormFactory

		commercialControl:
			class: stekycz\vmw\components\CommercialControl(%commercial%)
			implement: stekycz\vmw\components\ICommercialControlFactory
			parameters: [stekycz\vmw\models\Commercial commercial]


production < common:

development < common:
